@model vinmart.PhieuNhapChiTiet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PhieuNhapChiTiet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MatHang.Ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatHang.Ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NhaCungCap.Ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhaCungCap.Ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhieuNhap.MaNV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhieuNhap.MaNV)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
