@model vinmart.PhieuXuat

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PhieuXuat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NhanVien.Ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhanVien.Ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThoiDiemLap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThoiDiemLap)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaPX }) |
    @Html.ActionLink("Back to List", "Index")
</p>
