@model IEnumerable<vinmart.PhieuKiemKe>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NhanVien.Ten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayCapThe)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NhanVien.Ten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayCapThe)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaPKK }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaPKK }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaPKK })
        </td>
    </tr>
}

</table>
